$slidesize: 500px;
.main-player {
  float: none;
  width:  100%;
}

.player-progress-container {
  width:  100%;
}

div.img.loading {
  width: 20px;
  height: 30px;  
  float: right;
  position: absolute;
}

div.slide {
}

div#asking-wrap {
  width: 100%;
  background-color: #BCD4D1;
  margin-top: 15px;
  border-radius: 15px;
}

#input-asking {
  width: 90%;
  margin: auto;
}
