$slidesize: 500px;
.main-player {
  float: none;
  width:  100%;
}

.player-progress-container {
  width:  100%;
}

div.img.loading {
  width: 20px;
  height: 30px;  
  float: right;
  position: absolute;
}

div.slide {
}

div#asking-wrap {
  width: 100%;
  background-color: #BCD4D1;
  margin-top: 15px;
  border-radius: 15px;
}

#input-asking {
  width: 90%;
  margin: auto;
}

.questioncell {
  height: 50px;  
}

.questioncell .votecell {
  float: right;
  height: 100%;  
  width: 30px;
}

.votedown, .voteup {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 20%;
}

.voteup {background: blue;}
.votedown {background: red;}
.votenum {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 60%;
  font-family: "Verdana";
  font-size: 15px;
  background: yellow;
}

.questioncell .questioncontent {
  float: left  
}
