<%= image_tag @slide.thumbnail_url(1) %>

<div class="btn-nav">
  <div class="btn" id="next-button">next</div>
  <div class="btn" id="prev-button">prev</div>
</div>

<div class="btn-group">
  <div class="btn">Action</div>
  <div class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </div>

  <ul class="dropdown-menu">
    <li><a href="#">Action 1</a></li>
    <li><a href="#">Action 2</a></li>
    <li><a href="#">Action 3</a></li>
  </ul>
</div>
