<div class="following-user">
  <%= image_tag user.avatar_url, :class => :author_avatar %>
  <div class="user-info">
    <div class="author_name"><%= user.name %></div>
    <div><%= user.slides.count %> slides</div>
  </div>

  <div class="follow-btn">
    <%= render partial: 'follows/follow_btn', locals: {user: user} %>
  </div>
</div>
