<div class="browse">
  <div class="main-container">
    <h1>Browse</h1>
    <p></p>
    <% @slides.each do |slide| %>
      <%= render partial: "slide/slide", locals: {slide: slide} %>
    <% end %>
    <% (9-@slides.count).times do %>
      <%= render partial: "slide/empty_slide" %>
    <% end %>
  </div>

  <div class="extras">
    <h1>Infor</h1>
    <p></p>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'slidepreview' %>
<% end %>
