.browse
  .main-container
    %h1 Browse
    %p
    - @slides.each do |slide|
      = render partial: "slide/slide", locals: {slide: slide}
    - (9-@slides.count).times do
      = render partial: "slide/empty_slide"
  .extras
    %h1 Infor
    %p
- content_for :javascript do
  = javascript_include_tag 'slidepreview'
