#right-sidebar {
  margin-left: 70px;
}

#message-area { 
  height: 80%;
  overflow-y: scroll;
  background-color: white;
  padding-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

#chat-area { 
  height: 400px;
  background-color: #BCD4D1;
  padding: 5px;
}

#input-chat-area {
  height: 10%;
  padding-bottom: 5px;
}

#input-chat {
  width: 60%;
  height: 100%;
}

#chat-btn {
  width: 20%;
  height: 100%;
}

#questionslist { 
  height: 300px;
  background-color: #BCD4D1;
  margin-left:5px;
  margin-top: 5px;
  overflow-y: scroll;
  border-radius:10px;
}

#chat-area span { 
}

#chat-area p { 
  padding: 8px 0; 
  border-bottom: 1px solid #ccc; 
  width: 100%;
}

#name-area { 
}   

#name-area span { 
  color: #fa9f00; 
}

#chat-text { 
  float:left;
  width: 100%;
}

div.chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
