#chat-wrap { 
  border: 1px solid #eee; 
  margin: 0 0 15px 0; 
}

#chat-area { 
  height: 100px; 
  overflow: auto; 
  border: 1px solid #666; 
  padding: 20px; 
  background: white; 
}

#chat-area span { 
  color: white; 
  background: #333; 
  padding: 4px 8px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 8px; 
  margin: 0 5px 0 0; 
}

#chat-area p { 
  padding: 8px 0; 
  border-bottom: 1px solid #ccc; 
}

#name-area { 
  position: absolute; 
  top: 12px; 
  right: 0; 
  color: white; 
  font: bold 12px "Lucida Grande", Sans-Serif; 
  text-align: right; 
}   

#name-area span { 
  color: #fa9f00; 
}

#send-button {
  width: 70px;
  height: 30px;
  font-size: 11px; 
  font-weight:bold;
}

#sendie { 
  border: 3px solid #999; 
  width: 360px; 
  padding: 10px; 
  font: 12px "Lucida Grande", Sans-Serif; 
  float: right; 
}
