.following-user {
  padding: 20px 150px 20px 100px;
  height: 100px;
}

.following-user img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.following-user .user-info {
  float: left;
}

.follow-btn {
  float: right;
}
