@import "mixins";

$width: 708px;

.main-player {
  width:  $width;
  float: left;
  margin-right: 50px;
}

.main-player .primary-color {
  background: #323232;
  @include background-image-gradient(#5e5b5c, #323232);
}

.main-player .header {
  @include border-radius(5px 5px 0px 0px);
  height: 30px;
}

.main-player .footer {
  @include border-radius(0px 0px 5px 5px);
  height: 35px;
}

#current-slide {
  width: $width;
}

.control-btn {
  float: left;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.prev {
  background: url("/assets/prev.png") 10px 10px no-repeat;
}

.next {
  background: url("/assets/next.png") 10px 10px no-repeat;
}

#fullscreen-btn {
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("/assets/fullscreen-btn.png") 5px 6px no-repeat;
}

.player-progress-container {
  float: left;
  height: 10px;
  width: 500px;
  @include border-radius(10px);
  margin: 12px 0px;
  background: #000000;
  @include background-image-gradient(#000000, #222222);
  @include box-shadow(rgba(255, 255, 255, 0.12) 1px 0 rgba(0,0,0,0.12) 0 -1px 0);
}

.player-progress {
  height: 10px;
  background: #38ad75;
  @include border-radius(10px);
  @include background-image-gradient(#38ad75, #0e6355);
}

.questioncell {
  height: 50px;  
}

.questioncell .votecell {
  float: right;
  height: 100%;  
  width: 30px;
}

.questioncell .questioncontent {
  float: left  
}

.votenum {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: "Verdana";
  font-size: 15px;
  background: yellow;
}
