.primary-info {
  float: left;
  width: 460px;
  margin-top: 20px;
}

.secondary-info {
  float: right;
  width: 460px;
  margin-top: 20px;
}

.progress {
  height: 28px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  width: 460px;
}

input[type='file'] {
  border: transparent;
  -moz-transform: translate(300px, 0px) scale(4);
  z-index: 2;
  direction: ltr;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

form#myS3Uploader {
  position: absolute;
}

.data-context {
  margin-top: 40px;
}
